<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518752092105-p4lj657k1dti5ftlj8ktn29lhk1i5dse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518752092105-p4lj657k1dti5ftlj8ktn29lhk1i5dse</string>
	<key>API_KEY</key>
	<string>AIzaSyAJEqS3CWP-F9Xj74xEFRcTPjPT_qpoouM</string>
	<key>GCM_SENDER_ID</key>
	<string>518752092105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kakulebulembo.transcar</string>
	<key>PROJECT_ID</key>
	<string>transcar-fbc0e</string>
	<key>STORAGE_BUCKET</key>
	<string>transcar-fbc0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518752092105:ios:d86dc19e97ec4e8ae7b218</string>
</dict>
</plist>